/*----------------------------------------*/
/*2012-06-11-For NewSI2 Olympics*/
/*----------------------------------------*/
/*@charset "UTF-8";*/

#euro_close { margin-top:10px;cursor: hand; cursor:pointer; color:#FFF; width:216px; height:33px; background:url(../../img/sport/euro_title_out_tw.gif);}
#euro_open { margin-top:10px;}

/* title img*/
#oly_title { width: 216px; height:33px; background:url(../../img/sport/oly_title_in.gif) no-repeat;}
/*¼ÐÃ±*/
#euro_menu { width: 216px; height:31px;*padding-bottom: 0px/*IE Hack*/;	}
/*html>body #euro_menu {height:23px;}/*Mac Hack*/
/*#euro_menu { *margin-bottom:-33px;}

/*¤@¯ëª¬ºAout*/
#euro_menu .rb_btn {
	cursor: hand;
	float: left;
	width:72px;
	height:31px;
	background: url(../../img/sport/oly_roll_ball_tw.gif) no-repeat 0 0;
}
#euro_menu .hot_btn {
	cursor: hand;
	float: left;
	width:72px;
	height:31px;
	background: url(../../img/sport/oly_hot_game_tw.gif) no-repeat 0 0;
}
#euro_menu .early_btn {cursor: hand;float: right;width:72px; height: 31px; background: url(../../img/sport/oly_hot_game_early_tw.gif) no-repeat right 0;}
html>body #euro_menu .rb_btn { padding-top: 12px;height: 19px;}/*Mac Hack*/
html>body #euro_menu .early_btn { padding-top: 12px;height: 19px;}/*Mac Hack*/

/*over*/
#euro_menu .rb_over {cursor: hand; float: left;width:72px;height:31px; background: url(../../img/sport/oly_roll_ball_tw.gif) no-repeat 0 -31px;}
#euro_menu .hot_over {cursor: hand;float: left;width:72px;height:31px; background: url(../../img/sport/oly_hot_game_tw.gif) no-repeat right -31px;}
#euro_menu .early_over {cursor: hand;float: right;width:72px;height:31px; background: url(../../img/sport/oly_hot_game_early_tw.gif) no-repeat right -31px;}

/*up*/
#euro_menu .rb_up {cursor: hand; float: left;width:72px; height:31px; background: url(../../img/sport/oly_roll_ball_tw.gif) no-repeat 0 -62px;}
#euro_menu .hot_up {cursor: hand;float: right;width:72px;height:31px; background: url(../../img/sport/oly_hot_game_tw.gif) no-repeat right -62px;}
#euro_menu .early_up {cursor: hand;float: right;width:72px;height:31px; background: url(../../img/sport/oly_hot_game_early_tw.gif) no-repeat right -62px;}

/*-------Thie is for IE Hack notes ,Don't delete-----*/
#euro_menu .hot_up {cursor: hand;	float: left; width: 72px;	height: 31px; background: url(../../img/sport/oly_hot_game_tw.gif) no-repeat right -62px;}
#euro_menu .early_up {cursor: hand;float: right;width: 72px;	height: 31px; background: url(../../img/sport/oly_hot_game_early_tw.gif) no-repeat right -62px;}
#euro_menu .rb_btn, #euro_menu .early_btn , #euro_menu .hot_up , #euro_menu .early_up, .oly_tr { cursor:pointer;}
html>body #euro_menu .hot_up { /*padding-top: 10px;*/	height: 31px;}/*Mac Hack*/
html>body #euro_menu .early_up { /*padding-top: 10px;*/	height: 31px;}/*Mac Hack*/

/*game*/
.oly_tr { height:30px; line-height:30px; width:216px;  padding-left:44px; padding-top:5px;cursor:hand; text-align:left; border:1px solid #977F62; border-top:none; font:13px  Arial, Helvetica, sans-serif; background-color:#E3CFAA;}
html>body .oly_tr { clear:both; width:170px; height:23px; padding-top:7px;}

/*FT*/
div#FT_FT, div#FT_FU, div#FT_RB {background:url(../../img/sport/oly_tr_ft.gif) repeat-x 0 0;}
div#FT_FT:hover, div#FT_FU:hover , div#FT_RB:hover{ background:url(../../img/sport/oly_tr_ft.gif) repeat-x 0 -32px;}
/*BK*/
div#BK_FT, div#BK_FU, div#BK_RB {background:url(../../img/sport/oly_tr_bk.gif) repeat-x 0 0;}
div#BK_FT:hover, div#BK_FU:hover, div#BK_RB:hover { background:url(../../img/sport/oly_tr_bk.gif) repeat-x 0 -32px;}
/*TN*/
div#TN_FT, div#TN_FU , div#TN_RB{background:url(../../img/sport/oly_tr_tn.gif) repeat-x 0 0;}
div#TN_FT:hover, div#TN_FU:hover, div#TN_RB:hover { background:url(../../img/sport/oly_tr_tn.gif) repeat-x 0 -32px;}
/*VB*/
div#VB_FT, div#VB_FU, div#VB_RB {background:url(../../img/sport/oly_tr_vb.gif) repeat-x 0 0;}
div#VB_FT:hover, div#VB_FU:hover, div#VB_RB:hover { background:url(../../img/sport/oly_tr_vb.gif) repeat-x 0 -32px;}
/*BS*/
div#BS_FT, div#BS_FU, div#BS_RB {background:url(../../img/sport/oly_tr_bs.gif) repeat-x 0 0;}
div#BS_FT:hover, div#BS_FU:hover, div#BS_RB:hover { background:url(../../img/sport/oly_tr_bs.gif) repeat-x 0 -32px;}
/*OP*/
div#OP_FT, div#OP_FU, div#OP_RB {background:url(../../img/sport/oly_tr_op.gif) repeat-x 0 0;}
div#OP_FT:hover, div#OP_FU:hover, div#OP_RB:hover { background:url(../../img/sport/oly_tr_op.gif) repeat-x 0 -32px;}


#oly_main { position:relative; width:216px;}
/*#early_oly { position:absolute; top:0; left:0;}*/
/*html>body #oly_main  { margin-top:32px;}*/
