
.box-163css{ width:500px; height:900px; margin:220px auto; position:relative;}
.box-163css input{ margin-left:10px; border:none; border:1px solid #a10000; background:#c00; text-align:center; height:24px; line-height:20px; color:#fff; cursor:pointer;}
#dvMsgBox{display:none;position:absolute;font-size:12px;width:300px;overflow:hidden;z-index:999; border-radius:3px; font-family:微软雅黑;}  
#dvMsgBox .top{height:40px; background-color:#c3c3c3;padding-left:16px; float:left; width:100%;}
#dvMsgBox .top .right{height:100%;padding-right:6px;}  
#dvMsgBox .top .right .title{height:100%;line-height:40px;color:#fff;vertical-align:middle;font-size:14px;overflow:hidden;}  
#dvMsgBox .body{background:#fff;padding-left:10px;}  
#dvMsgBox .body .right{background:#fff;padding-right:2px;}  
#dvMsgBox .body .right .ct{  line-height: 60px;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  color:#2b9bc5;
  font-size: 14px;}  
#dvMsgBox .body .right .ct .pro{width:280px;border:solid 1px #6593cf;height:25px;background:#ffffff;line-height:23px;overflow:hidden;}  
#dvMsgBox .body .right .ct .pro .bg{width:0%;height:100%;background:#c9dffc;}  
#dvMsgBox .bottom{background:#fff;padding-left:6px;}  
#dvMsgBox .bottom .right{height:100%;/*background:transparent url(right-corners.png) no-repeat right bottom;*/padding-right:6px;}  
input.btn{width:56px;   border-radius: 3px; font-family:微软雅黑; cursor:pointer; color:#fff; border:none; height:25px; text-align:center;  background-color:#808283;text-align:center; margin:0px auto;}
input.btnfocus{ background-color:#EC6D51; font-family:微软雅黑;   border-radius: 3px;width:56px;margin:0px auto; border:none; height:25px; cursor:pointer; color:#fff;}  
#dvMsgBox .icon{width:32px;height:32px;float:left;margin-right:10px;}  
#dvMsgBox .error{background:url(icon-error.gif) no-repeat;}  
#dvMsgBox .info{background:url(icon-info.gif) no-repeat;}  
#dvMsgBox .warning{background:url(icon-warning.gif) no-repeat;}  
#dvMsgBox .clear{clear:both;}  
#dvMsgBox .height{height:10px;line-height:10px;}  
#ShowBolightBox{display:none;-moz-opacity:0.5;filter:alpha(opacity=50);opacity:0.5;background-color:#000000;z-index:100;position:absolute;left:0px;top:0px;}
#dvMsgBtns{ text-align:center; width:100%;}

/*showbo按钮样式*/
.nui-btn {
  text-decoration:none;
  outline:none;
  overflow:hidden;
  color:#555;
  border-color:#999;
  background:url(../img/button.png) 0 0 repeat-x;
  height: 26px;
  line-height: 26px;
  display: inline-block;
  padding: 0 12px;
  border: 1px solid;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 2px;
}
.nui-btn:hover{text-decoration:none;border-color:#787878;box-shadow:0 1px 3px rgba(0,0,0,.2)}
.nui-btn-theme-default {
  color: #555;
  border-color: #999;
  background: url(../img/button.png) 0 0 repeat-x;
}
.nui-btn-theme-main {
  color: #fff;
  border-color: #459830;
  background: url(../img/button.png) 0 -28px repeat-x;
}